@media (min-width: 651px) and (max-width: 1120px) {
  .hero{
    width: 70%;
    height: 70%;
  }
}

@media (max-width: 650px) {
  .hero{
    width: 80%;
    height: 80%;
  }
}

.hero {
  object-fit: "contain";
  border-radius: 50%;
}